<html>
<head>
	<title>Título da Experiência</title>
	<meta charset="utf-8">
	
	<!-- Tag meta/viewport para otimização em mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<!-- Estilos próprios deste projeto -->
	<link rel="stylesheet" type="text/css" href="../../css/input.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/img.css">

	<!-- Estilo customizado para esta experiência -->
	<link rel="stylesheet" type="text/css" href="template.css">
	
	<!-- Fontes -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


	<!-- p5.js CDN Externo -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>

</head>
<body>
	<div class="container columns align-center explanation" id="container">
	
			<h2 class="mb-4 mt-4">Título da Experiência</h2>

			<!-- Troque a cor do span abaixo conforme a experiência -->
			
			<p class="mb-4"><span>Conteúdo</span></p>
			
			<ul class="dotBar">
				<!-- Quantidade de circulos iguais a de textos da experiência -->
			</ul>

			<div class="content-container">
				<div class="content">
					<p>Insira aqui o conteúdo para a experiência</p>
				</div>
				<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, dolor itaque nisi dignissimos laboriosam vel quisquam. Debitis saepe unde maiores blanditiis! Ullam corporis fugiat dolorem? Rem incidunt id perferendis reprehenderit.</p>
				</div>
				<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, dolor itaque nisi dignissimos laboriosam vel quisquam. Debitis saepe unde maiores blanditiis! Ullam corporis fugiat dolorem? Rem incidunt id perferendis reprehenderit.</p>
				</div>
			</div>

			<button class="button">Fim da experiência</button>
	</div>
	
	<!-- Frameworks -->

	<!-- Font-Awesome - CDN externo -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../js/experience.js"></script>
	<script type="text/javascript" src="js/template.js"></script>

</body>
</html>